extends ../views/layout

block content
  h1= 'Index Page'
  

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else

    p The database has the following record counts:

    ul
      li #[strong Contracts:] !{data.job_count}
      li #[strong Work Orders:] !{data.job_instance_count}
      li #[strong Outstanding Work Orders:] !{data.job_instance_available_count}
      li #[strong Clients:] !{data.builder_count}
      li #[strong Types:] !{data.region_count}